<%= form_for(@diseasecode) do |f| %>
  <% if @diseasecode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diseasecode.errors.count, "error") %> prohibited this diseasecode from being saved:</h2>

      <ul>
      <% @diseasecode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :disease %><br>
    <%= f.text_field :disease %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
