<%= render 'layouts/head_content' %>
<h1>Editing Disease Code</h1>

<%= render 'form' %>

<%= link_to 'Show', @diseasecode , data: { no_turbolink: true } %> |
<%= link_to 'Back', diseasecodes_path , data: { no_turbolink: true } %>
<%= render 'layouts/footer_content' %>
