
<%= form_for(@photomsg, multipart: true) do |f| %>

  <p>
    <%= f.label :physician %><br>
    <%= f.text_field :physician %>
  </p>
    <p>
    <%= f.label :patient_id %><br>
    <%= f.text_field :patient_id %>
  </p>
    <p>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
