<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <p><%= @photomsg.title %></p>
  <p><%= @photomsg.physician %></p>
  <p><%= @photomsg.patient %></p>
</p>

<p>
  
  <%= image_tag @photomsg.image.url %>
</p>


